h1 {
    font-size: 40px;
    background-color: #ebebeb;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

p {
    font-size: 25px;
    background-color: white;
    padding: 5px;
    margin: right;
}
#paragraph1 {
    text-align: left;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    margin: right;
    padding: 15px;
    float: right;
}
h3 {
    clear: both;
    text-align: left;
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
}
button { 
    clear: both;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
}
#art1 {
    text-align: left;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    margin: right;
    padding: 15px;
    float: right;
}
section {
    clear: right;
    float: right;
    font-size: 20px;
    font-weight: 400;
}
