header,
section,
aside,
footer {
    margin: 20px;
    background:white;
}

header {
    height: 70px;
}

h1 {
    text-align: center;
}

.nav {
    background: white;
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:red;
    background: black;
    width: '960px';
    font-size: '18px'
}

section {
    /** width: 55%;
    float: left;**/
    overflow: auto;
}

aside {
    width: auto;
    /**float: left;**/
    padding-left: 20px;
    margin: 20px;
}

.relative {
    position: relative;
    width: 55%;
}

.absolute {
    position: absolute;
    width: 80%;
    border: 20px;
}

article {
    /** position: absolute; **/
    color: white;
    background: black;
    overflow: auto;
    margin: 10px;
    text-align: center;
}


p {
    color: #777;
    background: #ebebeb;
    margin: 10px;
}

.container {
    height: 100px;
    position: relative;
}

.SecContainer {
    float: left;
    width: 60%;
}

.AsiContainer {
    float: left;
    width: 40%;
    background-color: black;
}

.center {
    margin: 0;
    position: absolute;
    top: 39%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    clear: both;
    height: 70px;
}